<h1>i18n</h1>
<h2>{{ title }}</h2>
<hr>

<div i18n="@@messageHello">Hello</div>
<div i18n="Context information|This is a message for Hello@@messageYes">Yes</div>
<div i18n="@@messageNo">No</div>
<ng-container i18n="@@messageAwesomeNg">Angular is awesome</ng-container>


<div i18n>Hello</div>
<div i18n>Hello</div>


<div i18n="@@sayHello">Hello {{ name }}</div>
<ng-container i18n="@@funnyDog">The dog is very funny</ng-container>

<hr>

<div>{{ fruits.length | i18nPlural: fruitsMessageMap }}</div>
<div *ngFor="let fruit of fruits">{{ fruit }}</div>