<h1>{{ title }}</h1>

<nav>
    <ul>
        <li><a [routerLink]="['/page-a']">Page A</a></li>
        <li><a [routerLink]="['/page-b']">Page B</a></li>
        <li><a routerLink="/page-c">Page C</a></li>
        <li><a routerLink="/page-d">Page D</a></li>
    </ul>
</nav>


<hr>
<h2>Router outlet</h2>
<router-outlet></router-outlet>

<hr>
<h2>Video Youtube</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>